# --- Upstream tarballs ---
*.orig.tar.*

# --- Editor / OS ---
*.swp
*~
.DS_Store
.idea/
.vscode/
*.log

# --- Accidental deps ---
node_modules/
dist/
irs_dist/
venv/
.env
.env.*

# --- Build artefacts (Debian/dpkg/sbuild) ---
*.deb
*.ddeb
*.buildinfo
*.build
*.changes
*.dsc
*.tar.gz
*.tar.xz

# Unpacked source trees from dget/dpkg-source -x
instant-remote-storage-*/
# Occasional orphan files named like 'instant-remote-storage_4.2.0-5'
instant-remote-storage_[0-9]*

# Local build areas in-repo (prefer fuori-repo, ma nel dubbio)
build-*/
build-area/

# --- debian/ transient stuff created by dh ---
debian/.debhelper/
debian/*debhelper*
debian/debhelper-build-stamp
debian/files
debian/tmp/
debian/*/DEBIAN/
debian/*/usr/share/doc/*/changelog.Debian.gz
debian/*.substvars
debian/instant-remote-storage/

# Keep core packaging files tracked
!debian/changelog
!debian/control
!debian/copyright
!debian/rules
!debian/source/
!debian/watch
!debian/man/
!debian/systemd/
!debian/docs/
!debian/install
!debian/manpages
!debian/wrapper/**
!debian/upstream/**
!debian/instant-remote-storage@.service

# --- Quilt work dir ---
.pc/

# --- Misc ---
rclone.conf
*.bak
*.orig
*.rej
#*#

# Local venv/direnv
.venv/
.direnv/

